<VirtualHost *:80>
  ServerName drupal.php8.local
  DocumentRoot /var/www/html/drupal/web

  <Directory /var/www/html/drupal/>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    Allow from all
    Require all granted
  </Directory>
  
  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
